# Vietnamese translation for desktop_kdelibs.
# Copyright © 2007 KDE i18n Project for Vietnamese.
#
# Clytie Siddall <clytie@riverland.net.au>, 2006, 2007.
# Lê Hoàng Phương <herophuong93@gmail.com>, 2011.
# Phu Hung Nguyen <phuhnguyen@disroot.org>, 2020.
msgid ""
msgstr ""
"Project-Id-Version: desktop files\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2019-05-20 01:32+0000\n"
"PO-Revision-Date: 2020-09-20 11:46+0200\n"
"Last-Translator: Phu Hung Nguyen <phuhnguyen@disroot.org>\n"
"Language-Team: Vietnamese <kde-l10n-vi@kde.org>\n"
"Language: vi\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=1; plural=0;\n"
"X-Generator: Lokalize 19.12.2\n"

#: src/core/kconfigbackend.desktop:5
msgctxt "Comment"
msgid "Storage backend for KConfig"
msgstr "Hậu phương lưu trữ cho KConfig"
