CMakeLists.txt

/*
!/.gitignore
!/trunk
!/branches

/trunk/*
!/trunk/l10n-kf5
!/trunk/l10n-support
/branches/stable/*
!/branches/stable/l10n-kf5

/trunk/l10n-support/scripts/*
!/trunk/l10n-support/scripts/pology

/trunk/l10n-support/vi/lokalize-scripts

/trunk/l10n-kf5/*
!/trunk/l10n-kf5/vi
!/trunk/l10n-kf5/templates
/branches/stable/l10n-kf5/*
!/branches/stable/l10n-kf5/vi
!/branches/stable/l10n-kf5/templates

/trunk/l10n-kf5/vi/*
!/trunk/l10n-kf5/vi/messages
/trunk/l10n-kf5/templates/*
!/trunk/l10n-kf5/templates/messages/
/branches/stable/l10n-kf5/vi/*
!/branches/stable/l10n-kf5/vi/messages
/branches/stable/l10n-kf5/templates/*
!/branches/stable/l10n-kf5/templates/messages/
