CMakeLists.txt

/*
!/.gitignore
!/trunk

/trunk/*
!/trunk/l10n-kf5
!/trunk/l10n-support

/trunk/l10n-support/scripts/*
!/trunk/l10n-support/scripts/pology

/trunk/l10n-support/vi/lokalize-scripts

/trunk/l10n-kf5/*
!/trunk/l10n-kf5/vi

/trunk/l10n-kf5/vi/*
!/trunk/l10n-kf5/vi/messages

/trunk/l10n-kf5/vi/messages/*
!/trunk/l10n-kf5/vi/messages/dolphin
!/trunk/l10n-kf5/vi/messages/kbookmarks
!/trunk/l10n-kf5/vi/messages/kcmutils
!/trunk/l10n-kf5/vi/messages/kconfig
!/trunk/l10n-kf5/vi/messages/kconfigwidgets
!/trunk/l10n-kf5/vi/messages/kcoreaddons
!/trunk/l10n-kf5/vi/messages/kdeclarative
!/trunk/l10n-kf5/vi/messages/kded
!/trunk/l10n-kf5/vi/messages/kdegraphics-thumbnailers
!/trunk/l10n-kf5/vi/messages/kdelibs4support
!/trunk/l10n-kf5/vi/messages/kdoctools
!/trunk/l10n-kf5/vi/messages/keditbookmarks
!/trunk/l10n-kf5/vi/messages/kemoticons
!/trunk/l10n-kf5/vi/messages/kglobalaccel
!/trunk/l10n-kf5/vi/messages/ki18n
!/trunk/l10n-kf5/vi/messages/kiconthemes
!/trunk/l10n-kf5/vi/messages/kinit
!/trunk/l10n-kf5/vi/messages/kio
!/trunk/l10n-kf5/vi/messages/kjsembed
!/trunk/l10n-kf5/vi/messages/kmenuedit
!/trunk/l10n-kf5/vi/messages/knotifyconfig
!/trunk/l10n-kf5/vi/messages/kparts
!/trunk/l10n-kf5/vi/messages/kpty
!/trunk/l10n-kf5/vi/messages/kross
!/trunk/l10n-kf5/vi/messages/kservice
!/trunk/l10n-kf5/vi/messages/ktp-auth-handler
!/trunk/l10n-kf5/vi/messages/ktp-send-file
!/trunk/l10n-kf5/vi/messages/kubuntu-debug-installer
!/trunk/l10n-kf5/vi/messages/kwidgetsaddons
!/trunk/l10n-kf5/vi/messages/kwindowsaddons
!/trunk/l10n-kf5/vi/messages/kwindowsystem
!/trunk/l10n-kf5/vi/messages/kwrited
!/trunk/l10n-kf5/vi/messages/kxmlgui
!/trunk/l10n-kf5/vi/messages/lokalize
!/trunk/l10n-kf5/vi/messages/plasma-framework
!/trunk/l10n-kf5/vi/messages/plasma-workspace
!/trunk/l10n-kf5/vi/messages/systemsettings
