CMakeLists.txt

/*
!/.gitignore
!/trunk

/trunk/*
!/trunk/l10n-kf5
!/trunk/l10n-support

/trunk/l10n-kf5/*
!/trunk/l10n-kf5/vi

/trunk/l10n-kf5/vi/*
!/trunk/l10n-kf5/vi/messages

/trunk/l10n-kf5/vi/messages/*
!/trunk/l10n-kf5/vi/messages/dolphin
!/trunk/l10n-kf5/vi/messages/plasma-workspace
!/trunk/l10n-kf5/vi/messages/plasma-framework

/trunk/l10n-support/scripts/*
!/trunk/l10n-support/scripts/pology

/trunk/l10n-support/vi/lokalize-scripts
